@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: content-box;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.logo {
  display: flex;
  margin: 40px 80px;
}

.logoImage {
  display: flex;
  align-items: center;
}

.logoM {
  width: 30px;
  height: 30px;
  background-color: rgb(33, 33, 255);
  border-radius: 15%;
  font-size: 25px;
  font-family: Inter;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logoCircle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 11%;
}

.logoName {
  color: rgb(0, 0, 88);
  padding-left: 20px;
  font-size: 22px;
  font-family: Inter;
  letter-spacing: 2px;
  font-weight: normal;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 88);
  margin-right: auto;
}

.navMenuItems {
  font-family: Inter;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: rgb(0, 0, 88);
  padding: 25px;
}

.signIn {
  font-family: Inter;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: rgb(0, 0, 88);
  padding: 25px;
  justify-self: flex-end;
  align-self: center;
}

.download {
  font-family: Inter;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 159);
  border-radius: 10px;
  padding: 15px;
  align-self: center;
  margin-right: 80px;
}

.groupImage {
  position: absolute;
  right: 0%;
}

.groupContainer {
  display: flex;
  position: relative;
  justify-content: left;
  margin-bottom: 120px;
  margin-left: 15%;
  margin-right: 11%;
}

.groupText {
  font-family: Inter;
  width: 45%;
  margin-top: 7%;
  margin-bottom: 13%;
}

.groupHOne {
  font-size: 38px;
  color: rgb(0, 0, 88);
  margin-bottom: 30px;
}

.groupP {
  font-size: 16px;
  color: rgb(0, 0, 88);
  margin-bottom: 50px;
}

.startForFree {
  background-color: rgb(0, 254, 224);
  padding: 15px;
  border-radius: 5px;
  color: rgb(0, 0, 88);
}

.feedbackContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  margin-left: 15%;
  margin-right: 11%;
}

.feedbackStats {
  display: flex;
}

.feedbackNumbers {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.feedbackText {
  font-family: Inter;
  font-weight: bold;
  font-size: 25px;
  width: 40%;
  color: rgb(0, 0, 88);
}

.amountRatingK {
  font-family: Inter;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 88);
  margin-bottom: 12.5px;
}

.amountRatingP {
  font-family: Inter;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 88);
  margin-bottom: 10px;
}

.ratingsPics {
  margin-bottom: 10px;
}

.underRatings {
  font-family: Inter;
  font-size: 14px;
  color: rgb(0, 0, 88);
}

.sponsorsContainer {
  display: flex;
  margin-left: 15%;
  margin-right: 11%;
  justify-content: space-between;
  margin-bottom: 120px;
}

.subContainersMain {
  margin-left: 15%;
  margin-right: 11%;
  font-family: Inter;
}

.centeredText {
  margin-left: 15%;
  margin-right: 11%;
  font-family: Inter;
  text-align: center;
  padding: 0 20%;
  margin-bottom: 60px;
}

.subContainersMain {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  color: rgb(0, 0, 88);
  padding-bottom: 120px;
}

.learnFeatures {
  font-weight: bold;
}

.insideIntegrationMain {
  margin-left: 15%;
  margin-right: 11%;
  font-family: Inter;
  display: flex;
  background: none;
  height: 550px;
}

.outsideIntegration {
  position: relative;
  background-color: rgb(215, 251, 255);
  display: flex;
  height: 550px;
  margin-bottom: 120px;
}

.integrationPic {
  position: absolute;
  right: 5%;
  top: 10%;
}

.secGroupText {
  width: 40%;
  padding-top: 10%;
}

.startIntegration {
  background-color: #005FEC;
  color: rgb(255, 255, 255);
  padding: 18px;
  border-radius: 5px;
}

.communicationMain {
  margin-left: 15%;
  margin-right: 11%;
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.communicationText {
  font-family: Inter;
  color: rgb(0, 0, 80);
  padding-left: 5%;
  width: 50%;
}

.communicationList {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 10%;
}

.communicationLink {
  background: #005FEC;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
}

.commLi {
  margin-bottom: 20px;
  margin-left: 0;
  font-weight: bold;
}

.commLiImg {
  margin-right: 3%;
}

.picsMain {
  position: relative;
  display: flex;
  width: 40%;
}

.commPic1 {
  position: absolute;
  bottom: 0%;
  padding-left: 0%;
  z-index: 2;
}

.commPic2 {
  position: absolute;
  bottom: -8%;
  left: -8%;
  z-index: 1;
}

.commPic3 {
  position: absolute;
  bottom: -14%;
  right: -14%;
  padding: 0;
  z-index: 3;
}

.buttonsPaymentMain {
  display: flex;
  justify-content: center;
  padding-left: 15%;
  padding-right: 11%;
  margin-bottom: 80px;
}

.buttonsPayment {
  display: flex;
  justify-content: center;
  font-family: Inter;
  background: rgb(189, 245, 255);
  padding: 10px;
  border-radius: 8px;
}

.button {
  font-size: 22px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background: rgb(189, 245, 255);
}

.current {
  background: rgb(255, 255, 255);
}

.pricesMain {
  margin-left: 15%;
  margin-right: 11%;
  margin-bottom: 100px;
}

.pricingBlocks {
  display: flex;
  justify-content: space-around;
}

.priceBlock {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  color: rgb(0, 0, 88);
  border: 2px solid #7bb0b5;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  margin: 0 2%;
}

.planName {
  padding-left: 15%;
}

.planPriceBuss, .planPricePro, .planPrice {
  padding-left: 15%;
}

.planOutcomeList {
  margin-left: 0;
  padding-left: 0;
}

.planListLine {
  list-style-type: none;
  margin-left: 15%;
  padding-left: 13px;
  margin-bottom: 10px;
  position: relative;
}

.planBuyer {
  background: rgb(116, 234, 255);
  padding: 25px;
  align-self: center;
  border-radius: 10px;
}

hr {
  border: 2px solid #7bb0b5;
  display: flex;
  flex-grow: 1;
  margin-left: -10px;
  margin-right: -10px;
}

.pricingImage {
  position: absolute;
  left: -13px;
  bottom: 0.5px;
}

.testimonialMain {
  margin-left: 15%;
  margin-right: 11%;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.testimonialText {
  align-self: center;
  font-family: Inter;
  color: rgb(0, 0, 88);
}

.testimonialHTwo {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 25px;
  font-style: italic;
}

.testimonialName {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.testimonialPosition {
  margin-top: 5px;
  color: rgb(116, 116, 116);
}

.lastBlockOuter {
  display: flex;
  margin-left: 15%;
  margin-right: 11%;
  margin-bottom: 40px;
}

.lastBlock {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.appsText {
  font-family: Inter;
  color: rgb(0, 0, 88);
}

.apps {
  width: 20%;
}

.usefulLinks {
  font-family: Inter;
  color: rgb(0, 0, 88);
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-left: 20px;
}

.linksHeader {
  font-size: 18px;
  font-family: Inter;
  color: rgb(0, 0, 88);
  margin-top: 0;
}

.linksList {
  font-family: Inter;
  color: rgb(0, 0, 88);
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.linksLine {
  font-family: Inter;
  color: rgb(0, 0, 88);
  margin-left: 0;
  padding-left: 0;
}

.bottomLogo {
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
}

.footer {
  font-family: Inter;
  color: rgb(0, 0, 88);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-top: 2px solid #7bb0b5;
  padding: 20px;
  margin-left: 15%;
  margin-right: 11%;
}

/*# sourceMappingURL=style.css.map */
